<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="../styles/stylesheet.css">

</head>
<body>
    <img src="<%= logo %>" alt="Team Logo">
  <h1>Welcome to <%= title %></h1>

  <!-- landing page content -->

  <!-- Links-->
  <a href="/signup">Sign Up</a>
  <a href="/signin">Sign In</a>
</body>
</html>